@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import "bootstrap/dist/css/bootstrap.css";

/* .logincontainer {
	width: 320px; 
	padding: 30px; 
	padding-top: 156px; 
	margin-right: 50px;
	opacity: 1;
	border: 2px;
	border-style: solid;
	min-height: 82vh;
	max-height: 110vh;
	width: 35vw;
	margin-top: 0px; 
	margin-bottom: 0px;
	margin-left: 470px;
	background-color: #bfeaf5;
	padding-left: 70px;
	padding-top: 60px;
	border-radius: 20px;
	padding-right: 70px;
} */

